.modal_container {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page_modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

    height: fit-content;

    min-width: 300px;
    width: 90%;
    max-width: 800px;

    max-height: 90vh;

    // padding: 30px;
    background-color: #00000080;
    border-radius: 10px;

    box-shadow: 0px 0px 20px black;
    border: rgb(109, 109, 112) solid 0.25px;

    color: white;
    /* overflow: scroll; */

    @media (max-width: 710px) {
        max-width: 386px;
        flex-flow: column;
    }
}

