.footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 5px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.438) 0%, rgba(0, 0, 0, 0.308) 25%, rgba(255, 0, 0, 0) 100%);

    display: flex;
    flex-direction: row-reverse;
}

.link {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}