.link_button_group {
    width: 100%;
}

.link_button {
    width: 100%;
    border-radius: 10px;
    border: 2px black solid;
    background-color: rgb(243, 243, 243);
    color: black;
    size: 1em;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
    text-decoration: none;
}

.link_button_left {
    border: 2px black solid;
    border-right: 2px;
    border-radius: 5px 0px 0px 5px;

    margin-right: 1px;
}

.link_button_right {
    width: fit-content;

    border: 2px black solid;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
}

.link_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
}

.link_button_solo {
    width: 100%;
    border-radius: 5px;
    border: 2px black solid;
}

.link_text {
    text-align: center;
    margin-left: 5px;
}