.page_container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;

    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
    }
}

.title_container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5vh;
}

.title {
    font-size: 10vw;
    color: aliceblue;
}



.description {
    color: white;

    margin: 20px 20px;
    padding: 25px 25px 15px 25px !important;
    font-size: 18px;
    width: 90vw;

    h1 {
        font-size: 2.25rem;
        text-decoration: underline;
    }

    p {
        padding: 0px 20px;
    }
}