.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 30px;
}

.title {
    height: fit-content;
    font-size: 500%;
    font-weight: bold;
    margin: 0px;
}

.subtext {
    color: grey;
    margin-bottom: 30px;
}
