.card_header {
    height: min-content;
    width: 100%;
    order: -1;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;


}

.title {
    font-size: calc(1.375rem + 1.5vw);

    @media only screen and (max-height: 500px) {
        font-size: calc(1rem + 1.5vw);
        margin: 0;
    }
}