.link_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

    height: fit-content;


    min-width: 300px;
    width: 90%;
    max-width: 800px;

    max-height: 90vh;

    padding: 30px;
    background-color: #00000080;
    border-radius: 10px;

    color: white;
    /* overflow: scroll; */
}

@media (max-width: 710px) {
    .link_card {
        max-width: 386px;
        flex-flow: column;
    }
}

.link_card:before {
    content: "";
    align-self: stretch;
    border: 1px solid lightgrey;
}

.card_item {
    margin: 20px 0px;
    width: 250px;
    max-height: 73vh;

    text-align: center;
}





.card_title {
    text-align: center;
    font-size: 150%;

    margin-top: 0rem;
    margin-bottom: 0;
}





.image {
    position: relative !important;
    border-radius: 10px;
    max-width: 75%;
    object-fit: contain;
}




.scroll_shadows {
    max-height: 100%;
    overflow: auto;

    overflow: auto;
    background:
        /* Shadow covers */
        linear-gradient(rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%) 0 100%,
        /* Shadows */
        radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background:
        /* Shadow covers */
        linear-gradient(rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%) 0 100%,
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}