.link_card {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-flow: row wrap;

    height: fit-content;
    

    min-width: 300px;
    width: 90%;
    max-width: 800px;

    max-height: 90vh;

    padding: 30px;
    background-color: #00000080;
    border-radius: 10px;

    color: white;
    /* overflow: scroll; */
}

@media (max-width: 710px) {
    .link_card {
        max-width: 386px;
        flex-flow: column;
    }
}

.link_card:before {
    content: "";
    align-self: stretch;
    border: 1px solid lightgrey;
  }

.card_item {
    margin: 20px 0px;
    width: 250px;
    max-height: 73vh;

    text-align: center;
}



.card_header {
    height: min-content;
    width: 100%;
    /* max-width: 80%;
    min-width: 80%; */
    order: -1;

    display: flex;
    flex-flow: column;
    justify-content: space-between; 
    align-items: space-between;
}

.card_title {
    text-align: center;
    font-size: 150%;

    margin-top: 0rem;
    margin-bottom: 0;
}

.disambiguation {
    color: rgb(177, 177, 177);
    size: 0em;
    text-align: center;
    margin-top: 00rem;
    margin-bottom: 0;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    margin: 20px 15px;
    /* padding-bottom: 85%; */
    position: relative;
    /* max-height: 100%; */
    max-width: 100%;
}

.image {
    position: relative !important;
    border-radius: 10px;
    max-width: 75%;
    object-fit: contain;
}

.link_category {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #00000080;
    align-items: center;
    justify-content: center;

    margin: 20px 0px;

    width: 250px;
    /* overflow: scroll; */
}








