@property --myColor1 {
    syntax: '<color>';
    initial-value: #00ff0000;
    inherits: false;
}

@property --myColor2 {
    syntax: '<color>';
    initial-value: #00ff0000;
    inherits: false;
}


.coverart {
    margin: 20px 15px;

    transform-style: preserve-3d;
    z-index: 0;

}

.image {
    height: 250px;
    width: 250px;

    @media only screen and (max-height: 710px) {
        height: 150px;
        width: 150px;
    }

    @media only screen and (max-height: 610px) {
        height: 200px;
        width: 200px;
    }

    @media only screen and (max-height: 500px) {
        height: 150px;
        width: 150px;
    }
}

.shadow {
    &:before {
        content: "";
        position: absolute;
        inset: -10px;
        transform: translate3d(0px, 0px, -1px);

        border-radius: rem;

        filter: blur(7.5px);
        background: linear-gradient(111deg, var(--myColor1, rgb(223, 43, 73)) 0%, var(--myColor2, rgb(232, 117, 11)) 100%);

        --myColor1: var(--accent_color_a, rgb(223, 43, 73));
        --myColor2: var(--accent_color_b, rgb(232, 117, 11));

        transition: --myColor1 0.15s linear, --myColor2 0.15s linear;
    }
}